<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--	<contextListener class="junseok.snr.logging.commons.audit.AuditListener"/>-->

	<if condition='p("spring.profiles.active").contains("prod")'>
		<then>
			<include resource="logback/logback-prod.xml"/>
		</then>
		<else>
			<if condition='p("spring.profiles.active").contains("test")'>
				<then>
					<include resource="logback/logback-test.xml"/>
				</then>
				<else>
					<include resource="logback/logback-dev.xml"/>
				</else>
			</if>
		</else>
	</if>
</configuration>